<h2>About</h2>


<h3>Tell your story:</h3>
<p>You have a story to tell. All of us do, but increasingly we don't have the means
  to share our stories with others.</p>

<h3>Making storytelling accessible:</h3>
<p>Stories are increasingly being told through videos. Many of us do not have
  the means to capture footage and edit it into a video.</p>

<h3>So let's have technology do it:</h3>
<p>You focus on the story, we'll focus on finding relevant clips that will reveal
  your story to the audience.</p>

<h3>How?</h3>
<p>AI. And a bit of assistance from yourself since our AI is a small penguin.</p>

<h3>Go ahead and <a href="{{url_for('create')}}">create something.</a></h3>



{% extends 'analytics.html' %}
