<h2>{{headline}}</h2>

<br />
<br />
<div style="text-align : center;">
<iframe style="align : middle; "
        width="600"
        height="600"
        src=""
        frameborder="0"
        allowfullscreen>
</iframe>
</div>


{% if getInput %}

<form id="nuancePost" method="post" action="{{ url_for('addNuance') }}">
  <textarea name='nuance' id="nuance" rows="25" cols="20"></textarea>
  <br />
  <input type="submit" value="clarify problem">
</form>

{% else %}
<a href="{{url_for('past', problem = afraid)}}">Yes that was it!</a> <br />
<a href="{{url_for('afraid', step = 1)}}">No it's something else...</a>
{% endif %}
