<h1>Join the Cause</h1>
<h2>Good stories help us overcome our problems.</h2>

<p>We've all had days where we've felt alone. We feel like the problems, however trivial,
  we are faced with are faced by us alone and that feels... bad.</p>

<br />

<h2>We're here to extend a hand.</h2>

<p>Life can feel dangerously dark at times, and its at those exact moments we can grow.
  Stories of other people overcoming the same problems we have encourage us to tackle the same adversity
  and perhaps overcome it easier than those before us. </p>

<br />

  <h2>So what does it exactly entail?</h2>

  <p>Surfacing the right stories for people and making gif videos.</p>
  <p>Yep. You can help us make gif videos.</p>

<br />

  <h2>Why?</h2>
  <p>The right stories that will connect to us are out there, we just need to find them.
    Reading through comments and looking for the right book to read is not pleasant, especially
    when you're concerned about the purpose of life. So let's make it pleasant.</p>

    <h2>Okay, if you're really serious: <a href="https://fb.com/wgu29">Contact Me</a><h2>
