<h2><a href="{{url_for('home')}}">Penguin Jeffrey:</a></h2>
<a href="{{url_for('about')}}">About</a> <br />
<a href="{{url_for('vent')}}">Vent</a> <br />


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" >
</script>
<script src="{{ url_for('static', filename='jquery.countdown.js') }}"></script>

<div onclick="hideTimer()" style="text-align: center; font-size: 40px;" id="getting-started"></div>
<script type="text/javascript">
  $("#getting-started")
  .countdown("{{toDate}}", function(event) {
    $(this).text(
      event.strftime('Stories will refresh in: %I:%M:%S')
    );
  });
</script>

<h2 style="text-align: center;">That's all we have for today! Check in later for new stories</h2>

<h4>Leave some feedback</h4>
<form id="feedbackForm" method="post" action="{{ url_for('feedback') }}">
  <textarea id="feedback" name="feedback" rows="10" cols="50"></textarea> <br />
  <input type="submit" value="submit">
</form>




<script>
function hideTimer() {
  $("#getting-started").hide();
};

</script>
