<h2>What's bothering you?</h2>


<a href="{{url_for('problem', problem = 'meaning')}}">I don't know what the meaning of life is.</a> <br /> <br />
<a href="{{url_for('problem', problem = 'relationships')}}">I'm having relationship problems.</a>   <br /> <br />
<a href="{{url_for('problem', problem = 'anxiety')}}">I feel socially anxious.</a>   <br /> <br />
<a href="{{url_for('problem', problem = 'identity')}}">I don't know who I am.</a>    <br /> <br />
<a href="{{url_for('problem', problem = 'none')}}">Nothing.</a>   <br /> <br />
