<h2>Penguin Jeffrey</h2>
<h4>Tell your story:</h4>
<a href="{{url_for('create')}}">Create</a>
<a href="{{url_for('about')}}">About</a>

<br />
<br />

<h2 style="text-align: center;">Most Recent</h2>

<!-- Facebook
<div style="text-align :center;">
<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fzuck%2Fvideos%2F10103748609129051%2F&width=600&show_text=false&appId=1294182727369924&height=338"
        width="600"
        height="338"
        style="border:none;overflow:hidden"
        scrolling="no"
        frameborder="0"
        allowTransparency="true"
        allowfullscreen>
</iframe>
</div>
-->
<!-- Youtube -->
<div style="text-align : center;">
<iframe style="align : middle; "
        width="640"
        height="480"
        src="{{display.videoURL}}"
        frameborder="0"
        allowfullscreen>
</iframe>
</div>


<br />
<br />

<h2>Other stories:</h2>

{% if stories is defined %}
  {% for story in stories %}
    {% if story.videoURL != "" %}
      <a href="{{url_for('.videoStory', id = story.id)}}">{{story.title}}</a> <br />
    {% endif %}
  {% endfor %}
{% endif %}

<br />
<p>********</p>

<br />
<br />

<a href="mailto:hi@penguinjeffrey.com">Contact</a>

<!--
<h2>Say Happy Birthday... differently.</h2>

<br />
<br />
<div style="text-align : center;">
<iframe style="align : middle; "
        width="600"
        height="600"
        src="https://www.youtube.com/embed/mnObHRfrsuQ"
        frameborder="0"
        allowfullscreen>
</iframe>

<h2>How?</h2>
<li>
  <ol>Choose your words</ol>
  <ol>Choose a gif(s) to match your words</ol>
  <ol>Pick an AI voice (or record your voice)</ol>
  <ol>We'll send you a link to your video when it's ready!</ol>
</li>

<h2 style="text-align:center;"><a href="url_for('start')">Get Started</a></h2>


<h2>Looking for something more specific?</h2>
<p>Just let us know <a href="mailto:willgu29@gmail.com">here</a></p>
-->

{% extends 'analytics.html' %}
