<h4 style="font-family: Avenir;">For Lan:</h4>

<p style="font-family: Avenir;">Dearest sister,</p>
<br/>
<p style="font-family: Avenir;">Rise above the situation! I know that what you're dealing with isn't
  easy. It is perhaps something that has deeply conflicted in you
  since you were young. I wish I could have understood more --but
  I hold you to higher standards because you are the older sibling.
</p>
<br/>
<p style="font-family: Avenir;">It is not my job to help you, but precisely the reverse! Teach me --
  so that I can overcome the struggle that you face now. Teach me --so that
  I can be saved from the future pain you face now. Teach -- so that
  you can understand what it will take, to save yourself.</p>
  <br />
  <p style="font-family: Avenir;">I will not help you. I cannot help you. But then, you never
    needed my help. Aren't you supposed to be bullying me? </p>

  <br/>
  <p style="font-family: Avenir;"><b>Go on.</b></p>
