<h2>Your newly created story:</h2>

{% if contents|length > 100 %}
<p>Your story has too many sentences to preview. Save it and pray!</p>
{% else %}

{%- for content in contents %}
<div style="float: left; padding-right: 10px;">
  <img  class="gifDisplay" style="border-color : purple;" height=200 src="{{ content }}" />
  <p style="text-align: center;">{{sentences[loop.index-1]}}</p>
</div>
{%- endfor %}

{% endif %}

<br />


<div style="float: none; clear:both; ">

<h2>Add some finishing details:</h2>
<form id="shareStory" method="post" action="{{ url_for('saveStory')}}">
  Title (optional): <input type="text" name="title" value="" /> <br />
  <input type="hidden" name="story" value="{{ story }}" />
  <input type="hidden" id="urls" name="urls" value="{{ contents }}" /> <br />
  <input name type="submit" value="Save It" />
</form>


</div>

<br />


{% extends 'analytics.html' %}
