<h2>We're sorry to hear.</h2>
<h4>Maybe this video will help.</h4>

<div style="text-align : center;">
<iframe style="align : middle; "
        width="600"
        height="600"
        src="https://www.youtube.com/embed/zcDzNF4VUq4"
        frameborder="0"
        allowfullscreen>
</iframe>
</div>


<br />
<br />

<h2>Or... just let us know what is bothering you. </h2>
<p>We'll let you know when we have content that can help</p>

<form id="createProblem" method="post" action="{{ url_for('createProblem')}}">
  Problem: <input type="text" name="problem" placeholder="What's bothering you?" />
  A way to contact you (we'll do it.): <input type="text" name="contact" placeholder="Snail mail... telepathy..." />
  <input name type="submit" value="submit" />
</form>

<br />
<br />
<br />
