<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello World</title>
    <script src="https://unpkg.com/react@latest/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
  </head>
  <body>
    <div id="root"></div>

    <script type="text/babel">
      class ViewStory extends React.Component {
        constructor(props) {
         super(props);
         this.props = {"test" : '{{testID}}'}
        }

        render() {
          return (
            <div>
              <p>Works: {this.props.test}</p>
            </div>
        );
        }
      }

      ReactDOM.render(
        <ViewStory />,
        document.getElementById('root')
      );

    </script>


    <script type="text/javascript" src="https://static.filestackapi.com/v3/filestack.js"></script>
<script>
    var client = filestack.init('AHbhiYyoFRSGIrdV0FwqWz');
    function showPicker() {
        client.pick({
        }).then(function(result) {
            console.log(JSON.stringify(result.filesUploaded))
        });
    }
</script>
<input type="button" value="Upload" onclick="showPicker()" />

  </body>
</html>
