<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello World</title>
    <!--
    <script src="https://unpkg.com/react@latest/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
-->
    <link href="../static/test/build/static/css/main.acbf1146.css" rel="stylesheet">
  </head>
  <body>
    <div id="root"></div>
    <script src="../static/test/build/static/js/main.bffd657d.js"></script>
    <!--
    <script type="text/babel">

      ReactDOM.render(
        <h1>Hello, world!</h1>,
        document.getElementById('root')
      );

    </script>
  -->
  </body>
</html>
