.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Display-gif {
  width: 340px;
  padding: 5px;
}

.Display-video {
  width: 340px;
  padding: 5px;
}

.float-left {
  float: left;
  padding-right: 10px;
}

.reset-alignment {
  float: none;
  clear: both;
  padding-bottom: 20px;
}

.board-row {
  display: inline-table;
  margin: 0 auto;
}

.small-caption {
  font-size: 12px;
}
